body {
    background-image: url(cloudback.png);
    background-size: 1500px;
}
a:link {
    text-decoration: none;
}

#logo img {
    height: 150px;
    /* border-radius: 50% 20% / 10% 40%; */
    align-items: flex-start;
}

.nav-logo {
    display: flex;
    align-items: flex-start; 
    margin-left: 100px;
}
.navbar {
    background-color: transparent;
    display: flex;
    padding: 25px 18px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: large;
    margin: .01px;
    border: groove black;
    text-color: black;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
