body {
    background-image: url('tarmufantasy.jpg')
}
a:link {
    text-decoration: none;
    text-color: black;
}
.navbar {
    background-color: aliceblue;
    display: flex;
    padding: 25px 18px;
    font-weight: bold;
    margin: 20px;
    border: dotted black;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
